modules = ["web", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "dall"
mode = "sequential"
author = 49685985

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend/main.py"

[[ports]]
localPort = 8000
externalPort = 80
